<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <meta name = "viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../../resources/static/bootstrap/css/bootstrap.min.css">
    <script src="../../../../resources/static/bootstrap/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container-fiuld">
    <div class="row" style="margin-top: 70px">
        <div class="col-sm-6 col-sm-offset-3">
            <h1 class="text-center" style="font-family: 隶书;font-weight:bold;font-size: 50px;color:purple">
                图书馆自习室预约管理系统</h1>
        </div>
    </div>
    <div class="row" style="margin-top: 50px">
        <div class="col-sm-6 col-sm-offset-3">
            <form>
                <div class="form-group">
                    <label for="userid" style="font-size: 18px">账号：</label>
                    <input type="text" class="form-control" id="userid" placeholder="请输入账号"
                           style="height: 50px; font-size: 16px">
                </div>
                <br/>
                <div class="form-group">
                    <label for="password" style="font-size: 18px">密码：</label>
                    <input type="password" class="form-control" id="password" placeholder="请输入密码"
                           style="height: 50px; font-size: 16px">
                </div>

                <button type="submit" class="btn btn-primary" style="margin-top: 35px; float:left;width:40%;
height: 50px;font-size:18px;font-weight:bold">登录</button>
                <button type="submit" class="btn btn-success" style="margin-top: 35px;float:right;width:40%;
height: 50px;font-size:18px;font-weight:bold">注册</button>
            </form>
        </div>
    </div>

</div>
</body>
</html>